#backend_body {
  height: 100vh;
  overflow: hidden;
  font-family: sans-serif;
  /*
 * Navbar
 */
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}
#backend_body .feather {
  width: 16px;
  height: 16px;
}
#backend_body header {
  display: grid !important;
  grid-template-columns: 2fr 1fr;
  background: #999999;
}
#backend_body header .dashboard_logo {
  display: flex;
}
#backend_body header .dashboard_logo a {
  display: block;
  text-align: center;
  flex: 1;
}
#backend_body header .dashboard_logo button {
  margin-left: 10px;
}
@media (min-width: 576px) {
  #backend_body header .dashboard_logo {
    width: 250px;
  }
}
#backend_body header .navbar-nav {
  text-align: right;
}
#backend_body #sidebarMenu {
  /* position: fixed; */
  top: 0;
  /* rtl:raw:
  right: 0;
  */
  bottom: 0;
  /* rtl:remove */
  left: 0;
  z-index: 100;
  /* Behind the navbar */
  padding: 48px 0 0;
  /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
  height: calc(100vh - 49px);
  overflow-y: scroll;
  padding-left: 20px;
  min-width: 250px;
}
@media (max-width: 767.98px) {
  #backend_body .sidebar {
    top: 5rem;
  }
}
#backend_body .sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto;
  /* Scrollable contents if viewport is shorter than content. */
}
#backend_body .sidebar .nav-link {
  font-weight: 500;
  color: #333;
}
#backend_body .sidebar .nav-link .feather {
  margin-right: 4px;
  color: #727272;
}
#backend_body .sidebar .nav-link.active {
  color: #2470dc;
}
#backend_body .sidebar .nav-link:hover .feather,
#backend_body .sidebar .nav-link.active .feather {
  color: inherit;
}
#backend_body .sidebar-heading {
  font-size: 0.75rem;
}
#backend_body .navbar-brand {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  background-color: rgba(0, 0, 0, 0.25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.25);
}
#backend_body .navbar .navbar-toggler {
  top: 0.25rem;
  right: 1rem;
}
#backend_body .navbar .form-control {
  padding: 0.75rem 1rem;
}
#backend_body .form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.1);
}
#backend_body .form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.25);
}
#backend_body #backend_body main {
  height: calc(100vh - 44px);
  overflow-y: scroll;
}
#backend_body #sidebarMenu::-webkit-scrollbar {
  width: 5px;
  border-radius: 25px;
}
#backend_body #sidebarMenu::-webkit-scrollbar-track {
  background: #f1f1f1;
}
#backend_body #sidebarMenu::-webkit-scrollbar-thumb {
  background: #682323;
  border-radius: 25px;
}
#backend_body #sidebarMenu::-webkit-scrollbar-thumb:hover {
  background: #555;
}
#backend_body .nav-item {
  padding: 0px 0px;
  margin: 6px 0px;
}
#backend_body .nav-item a {
  padding: 5px 0px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.247);
  transition-duration: 0.3s;
  color: #6e6e6e;
}
#backend_body .nav-item a:hover {
  color: #000000;
  border-bottom: 1px solid #682323;
}
#backend_body .nav-item .sign-out-btn {
  border: 0;
  color: white;
  text-transform: capitalize;
}
#backend_body .nav-item:last-child a {
  border-bottom: 1px solid transparent;
}
#backend_body .nav-item:hover .sign-out-btn {
  border: 0;
  color: #ff7700;
}
#backend_body .nav-item ul {
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
#backend_body .nav-item ul li {
  margin: 6px 0px;
}
#backend_body #sidebarMenu {
  padding-right: 10px;
}
@media (max-width: 991.99px) {
  #backend_body #sidebarMenu {
    max-width: 200px;
    display: none;
  }
  #backend_body #sidebarMenu.show {
    display: block;
  }
}
/*# sourceMappingURL=./dashboard.css.map */